<!-- app.component.html -->
<div class="content-wrap">
    <igx-nav-drawer id="navigation" #drawer [isOpen]="true">
        <ng-template igxDrawer>
            <nav>
                <span igxDrawerItem [isHeader]="true">Menu</span>
                <span igxDrawerItem igxRipple routerLink="home">Home</span>
                <span igxDrawerItem igxRipple routerLink="catalog">Catalog</span>
                <span igxDrawerItem igxRipple routerLink="inventory">Inventory</span>
            </nav>
        </ng-template>
    </igx-nav-drawer>
    <main>
        <!-- app content -->
    </main>
</div>